/* 메뉴바 구현 */
header {
    z-index: 99;
    width: 100%;
    height: 71px;
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: height 300ms;
}
nav.pc {
    padding: 10px 30px;
    border-bottom:1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb {
    display: flex;
    margin-left: 6.5vw;
}
nav.pc h1 {
    height: 50px;
    margin-right: 87px;
    cursor: pointer;
}
nav.pc h1 img {
    height: 100%;
}
ul.gnb1 {
    width: 14.79vw;
    margin-right: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.gnb1 li a {
    color: #666;
    font-size: 0.9vw;
    font-weight: 500;
}
ul.gnb2 {
    width: 18.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.gnb2 li a {
    color: #666;
    font-size: 0.9vw;
    font-weight: 500;
}
ul.sns {
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 2vw;
}
ul.sns li a {
    display: inline-block;
    width: 1.4vw;
    height: 1.4vw;
}
ul.sns li a i {
    font-size: 1.4vw;
    color: #666;
}
.hamburger-menu {
    position: absolute;
    left: 0;
    color: #666;
    width: 30px;
    height: 30px;
    margin-left: 1.2vW;
    cursor: pointer;
}
.hamburger-menu i {
    font-size: 30px;
}

/* 메뉴바 반응형 */
nav.mobile {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    height: 60px;
    border-bottom:1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
}
nav.mobile h1 {
    height: 50px;
}
nav.mobile h1 img {
    height: 100%;
}

@media(max-width: 1023px){
    nav.mobile {
        visibility: visible;
    }
    nav.pc {
        visibility: hidden;
    }
    ul.sns {
    position: relative;
    right: 2vw;
    }
    ul.sns li a {
        display: inline-block;
        width: 18px;
        height: 18px;
    }
    ul.sns li a i {
        font-size: 18px;
        color: #666;
    }
    .hamburger-menu {
        position: relative;
    }
}

/* 메뉴바 드롭다운 */
.dropdown-menu {
    width: 100%;
    height: 300px;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    position: relative;
    display: flex;
    justify-content: center;
}
.dropdown-menu > * {
    padding: 15px 30px 30px;
}
.dropdown-menu > ul {
    width: 54vw;
    display: flex;
}
.dropdown-menu > ul > li {
    position: absolute;
    text-align: center;
}
.dropdown-menu a {
    display: block;
    padding: 7px 0;
    color: #333;
    font-size: 0.8vw;
    font-weight: 600;
}
.dropdown-menu ul li a:hover {
    color: #C30F30;
}
li.drop-brand:hover ~ ul.gnb1 li .brand{
    color: #C30F30;
}
.drop-brand {
    left: 29.04vw;
}
.drop-menu {
    left: 37.3vw;
}
.drop-store {
    left: 42vw;
}
.drop-member {
    left: 55.08vw;
}
.drop-service {
    left: 63.3vw;
}
.drop-event {
    left: 71.5vw;
}

/* section.main-visual 슬라이더 구현 */
section.main-visual {
    margin-top: 71px;
}
.visual-navigation {
    width: 1500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.visual-navigation button {
    width: 60px;
    height: 60px;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}
.visual-navigation .prev {
    background: url('images/SVG/prev1.svg');
}
.visual-navigation .next {
    background: url('images/SVG/next1.svg');
}
.main-visual .swiper-slide {
    width: 100%;
    aspect-ratio: 1920/900;
}
.main-visual .page1 {
    background: url('images/main1-r.jpg') no-repeat center / cover;
    position: relative;
}
.main-visual .page1 p {
    position: absolute;
    left: 38%;
    top: 10%;
    color: rgba(255,255,255,0.8);
    font-size: 2vw;
    font-weight: 400;
}
.main-visual .page1 h1 {
    position: absolute;
    left: 24%;
    top: 19%;
    color: rgba(255,255,255,0.8);
    font-size: 8vw;
    font-weight: 900;
}
.main-visual .page1 ul {
    display: flex;
    position: absolute;
    left: 22%;
    bottom: 10%;
}
.main-visual .page1 ul li {
    color: rgba(255,255,255,0.8);
    font-size: 1.8vw;
    font-weight: 500;
    margin-right: 5.8vw;
}
.main-visual .page2 {
    background: url('images/main2-r.jpg') no-repeat center / cover;
    position: relative;
}
.main-visual .page2 p {
    position: absolute;
    left: 10%;
    bottom: 35%;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 1vw;
}
.main-visual .page2 h1 {
    position: absolute;
    left: 10%;
    bottom: 15%;
    color: #fff;
    text-align: center;
    font-size: 2.2vw;
    font-weight: 600;
    line-height: 3.5vw;
    letter-spacing: 0.1vw;
}
.main-visual .page3 {
    background: url('images/main3-r.jpg') no-repeat center / cover;
    position: relative;
}
.main-visual .page3 h1 {
    position: absolute;
    left: 38.5%;
    top: 8%;
    color: #C30F30;
    text-align: center;
    font-size: 3.2vw;
    font-weight: 900;
    line-height: 4.5vw;
    letter-spacing: 1.1vw;
}

/* section.best */
section.best {
    width: 100%;
    height: auto;
    background:#f5eee8;
    text-align: center;
    padding: 5.47vw 0 ;
}
.title img{
    width: 3vw;
}
.title h1 {
    color: #494949;
    font-size: 2vw;
}
.title h1 strong {
    color: #C30F30;
}
section.best .inner {
    margin-top: 3vw;
    width: 100%;
    height: 24.6vw;
}
.circle {
    position: relative;
    top: -90%;
    left: 50%;
    width: 14.6vw;
    height: 14.6vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
  }
/* best섹션의 슬라이더구현 */
.best-slider {
    z-index: 2;
    width: 100%;
}
.swiper-wrapper {
    align-items: center;
}
.best-slider .swiper-slide img {
    cursor: pointer;
    transition: transform 250ms;
}
.best-slider .swiper-slide:hover img {
    transform: rotate(15deg);
}
.best-img img {
    width: 13vw;
}
.information {
    margin-top: 2.6vw;
    height: 2vw;
}
.information p {
    color: #333;
    font-size: 1vw;
    font-weight: 500;
}
.underlined-text {
    position: relative;
    display: inline-block;
}
.underlined-text::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 2px;  
    background-color: #C30F30; 
    visibility: hidden;
}
/* 슬라이드가 active될 때 바뀔 스타일들 */
section.best .swiper-slide-active .best-img img {
    width: 16vw; 
}
section.best .swiper-slide-active .information p {
    color: #C30F30;
    font-weight: 700;
}
section.best .swiper-slide-active .underlined-text::after {
    visibility: visible;
}
.best-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 85%;
    height: 0.2vw;
    margin-top: 3vw;
    position: relative;
    top: -17%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.best-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal span.swiper-pagination-progressbar-fill {
    background: #C30F30;
}
/* best네비게이션 버튼 스타일 */
.best-navigation {
    width: 95%;
    margin-left: 3vw;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}
.best-navigation button {
    cursor: pointer;
    width: 2.6vw;
    height: 2.6vw;
    border: none;
    background: transparent;
}
.best-navigation button i {
    font-size: 2vw;
    color: #C30F30;
}
/* more-best버튼 구현 */
button.more-best {
    cursor: pointer;
    margin-top: 8.5vw;
    background: #C30F30;
    border: none;
    border-radius: 50px;
    width: 15.6vw;
    height: 3.4vw;
    color: #fff;
    font-size: 0.8vw;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
}

/* section.promotion */
section.promotion {
    width: 100%;
    height: auto;
    background:#FFFAF5;
    padding: 5.47vw 0 ;
    position: relative;
}
section.promotion .title {
    margin-left: 8vw;
}
section.promotion .title p {
    color: #333;
    font-size: 0.9vw;
    font-weight: 500;
    margin-top: 7px;
}
section.promotion .title p strong {
    color: #C30F30;
}
/* promotion섹션의 탭 구현 */
/* 탭항목 */
section.promotion .inner {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 1vw;
    margin-left: 8.8vw;
}
.promotion-list li{
    margin-bottom:1.5vw;
}
.promotion-list li a {
    color: #333;
    font-size: 1.2vw;
    font-weight: 600;
}
.promotion-list li a:hover {
    color: #C30F30;
}
.promotion-list li.active a {
    color: #C30F30;
}
/* 음료리스트 사진 */
.promotion-item {
    position: relative;
    margin-left: 12.5vw;
    text-align: center;
}
.promotion-item ul {
    display: flex;
    width: 65vw;
    opacity: 0;
    transition: opacity 0.7s ease;
}
.promotion-item ul.visible {
    opacity: 1;
}
/* 음료사진 호버 시 자세히보기 */
.promotion-item li {
    cursor: pointer;
    position: relative;
}
.item-hover {
    position: absolute;
    left: 10%;
    top: 20%;
    background: rgba(195,15,48,0.5);
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    width: 12.3vw;
    height: 12.3vw;
    border-radius: 50%;
    padding-top: 5.5vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.7s ease;
}
.straw_nuts .item-hover {
    left: 22%;
}
.honeybear .item-hover {
    left: 20%;
}
.promotion-item li:hover > .item-hover {
    opacity: 1;
}
/* 탭메뉴 음료사진들 배치 */
ul.breadman {
    display: flex;
    width: 65vw;
    visibility: hidden;
}
ul.breadman li {
    width: 16.25vw;
}
ul.breadman li img {
    width: 100%;
}
ul.breadman li p {
    font-size: 1vw;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 2vw;
}
ul.straw_nuts{
    display: flex;
    width: 65vw;
    height: 23.7vw;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
ul.straw_nuts li {
    width: 21.6vw;
}
ul.straw_nuts li img {
    width: 17vw;
}
ul.straw_nuts li p {
    font-size: 1vw;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 1vw;
}
li.peanutmilk {
    padding-top: 1vw;
}
li.peanutmilk p {
    padding-top: 1vw;
}
ul.honeybear{
    display: flex;
    width: 42vw;
    height: 23.7vw;
    margin-left: 11vw;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
ul.honeybear li {
    width: 32.5vw;
}
ul.honeybear li img {
    width: 17vw;
}
ul.honeybear li p {
    font-size: 1vw;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 1vw;
}
ul.mini {
    display: flex;
    width: 65vw;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
ul.mini li {
    width: 16.25vw;
}
ul.mini li img {
    width: 100%;
}
ul.mini li p {
    font-size: 1vw;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 2vw;
}
ul.visible {
    visibility: visible;
}
/* 프로모션 네비게이션 버튼 스타일 */
.promotion-navigation {
    width: 7.5vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 9vw;
    bottom: 5.5vw;
}
.promotion-navigation button {
    cursor: pointer;
    border: none;
    background: transparent;
}
.promotion-navigation button i {
    font-size: 3vw;
    color: #C30F30;
}

/* section.dessert */
section.dessert {
    padding: 5.46vw 0;
    text-align: center;
}
section.dessert .title p {
    color: #333;
    font-size: 0.9vw;
    font-weight: 500;
    margin-top: 7px;
}
.dessert-slider {
    margin-top: 2.6vw;
}
.dessert-slider .swiper-wrapper {
    margin-left: -4vw; 
}
.dessert-slider li.swiper-slide {
    text-align: center;
    width: 13vw !important;
}
.dessert-slider .swiper-slide img {
    cursor: pointer;
    width: 100%;
    transition: transform 250ms;
}
.dessert-slider .swiper-slide:hover img {
    transform: rotate(15deg) scale(1.2);
}
.underlined-text {
    position: relative;
    display: inline-block;
}
.underlined-text::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 2px;  
    background-color: #C30F30; 
    visibility: hidden;
}
/* 디저트 슬라이드가 active됐을때 바뀔 스타일 */
section.dessert .swiper-slide-active {
    width: 17vw !important; 
}
section.dessert .swiper-slide-active .information p {
    color: #C30F30;
    font-weight: 700;
}
section.dessert .swiper-slide-active .underlined-text::after {
    visibility: visible;
}
/* more-dessert버튼 구현 */
button.more-dessert {
    cursor: pointer;
    margin-top: 4.5vw;
    background: #C30F30;
    border: none;
    border-radius: 50px;
    width: 15.6vw;
    height: 3.4vw;
    color: #fff;
    font-size: 0.8vw;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
}

/* section.event */
section.event {
    padding: 5.46vw 0;
    text-align: center;
    background: #FFFAF5;
}
section.event .inner {
    width: 78vw;
    margin-left: 10.9vw;
    display: flex;
    justify-content: center;
}
ul.event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7vw 0.7vw;
    margin-top: 2.6vw;
    width: 100%;
    height: auto;
}
ul.event-list li {
    cursor: pointer;
    position: relative;
}
ul.event-list li .event-item {
    border-radius: 1.5vw;
    overflow: hidden;
}
ul.event-list li .event-item img {
    width: 100%;
    height: auto;
    transition: transform 300ms;
}
ul.event-list li .event-item:hover img {
    transform: scale(1.2);
}
/* more-event버튼 구현 */
button.more-event {
    cursor: pointer;
    margin-top: 4.5vw;
    background: #C30F30;
    border: none;
    border-radius: 50px;
    width: 15.6vw;
    height: 3.4vw;
    color: #fff;
    font-size: 0.8vw;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
}

/* section.findstore */
section.findstore {
    position: relative;
    width: 100%;
    height: 23.4vw;
    padding: 5.46vw 0;
    text-align: center;
    background: url('images/findstore_bg.png' )no-repeat center;
}
.dark-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}
section.findstore .title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
section.findstore h1 {
    color: #fff;
    font-size: 2vw;
}
section.findstore p {
    color: #fff;
    margin-top: 1.56vw;
    font-size: 1.25vw;
    font-weight: 500;
}
.search-box {
    position: absolute;
    left: 0;
    bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34.3vw;
    margin-left: 32.8vw;
    margin-top: 1.5vw;
}
.search{
    background: #fff;
    width: 22.6vw;
    height: 2.6vw;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1vw;
}
input{
    font-size: 0.8vw;
    width: 90%;
    border: 0;
    outline: none;
    font-family: inherit;
}
input::placeholder {
    font-size: 0.8vw;
  }
.xi-search {
    color: #494949;
}
button.store-btn {
    margin-left: 1.5vw;
    cursor: pointer;
    color: #fff;
    font-size: 0.7vw;
    font-weight: 700;
    border: none;
    background: #C30F30;
    border-radius: 2vw;
    width: 10.2vw;
    height: 2.6vw;
    font-family: inherit;
}

/* section.sns  */
section.sns {
    background: #F5EEE8;
    padding: 5.46vw 0;
    text-align: center;
}
section.sns .title {
    margin-bottom: 2.6vw;
}
.insta-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8vw;
}
section.sns .insta-title img {
    width: 2vw;
    height: 2vw;
    margin-left: 0.7vw;
}
section.sns .title p {
    font-size: 1vw;
    color: #666;
}
ul.insta-content {
    display: flex;
    justify-content: space-between;
    width: 79.7vw;
    margin-left: 10.1vw;
}
ul.insta-content li {
    cursor: pointer;
    width: 15.6vw;
    overflow: hidden;
}
ul.insta-content li img {
    width: 100%;
    transition: transform 300ms;
}
ul.insta-content li:hover img {
    transform: scale(1.05);
}

/* footer 스타일  */
footer {
    background: #E7E2D8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7vw;
}
.contents {
    margin-left: 1.5vw;
}
.contents ul li {
    color: #666;
    font-size: 0.7vw;
    padding: 0 1.5vw;
}
.contents ul {
    display: flex;
}
.contents ul li:not(:last-child)::after {
    content:'';
    width: 1px;
    height: 0.5vw;
    background: #A4A4A4;
    display: inline-block;
    position: relative;
    left: 1.55vw;
    top: -1px;
}
.content2 {
    margin-top: 2.5vw;
}
.content3 {
    margin-top: 0.2vw;
}
.content4 {
    margin-top: 1.5vw;
}

/* join button */
.join-btn {
    cursor: pointer;
    position: fixed;
    border: none;
    right: 2%;
    bottom: 4%;
    width: 5vw;
    height: 5vw;
    background: #5D4537;
    border-radius: 50%;
    font-family: inherit;
    animation: move 700ms  infinite alternate forwards;
}
.join-btn h3 {
    color: #fff;
    font-size: 0.8vw;
}
@keyframes move{
    0%{}
    100%{
        margin-bottom: 20px;
    }
}

@media(max-width: 900px) {
    .join-btn {
        width: 7vw;
        height: 7vw;
    }
    .join-btn img {
        width: 2.6vw;
        height: 2.6vw;
    }
}
@media(max-width: 600px) {
    .best-navigation button i,.promotion-navigation button i {
        font-size: 4vw;
    }
    .promotion-list li {
        margin-bottom: 0vw;
    }
    .promotion-navigation {
        bottom: 1vw;
    }
    footer .logo img {
        width: 3.5vw;
        height: 5vw;

    }
}